@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

main {
    background-color: #F2F5F9;
}

h1 {
    padding-top: 10%;
    color: #111729;
    padding-left: 6%;
}
h3 {
    color: #677489;
}

p {
    color: #677489;
    padding-left: 6%;
}

.container {
    background-color: #fff;
    border-radius: 5%;
    width: 400px;
    margin: 10% auto;
    box-shadow: 0px 0px 99px 0px rgba(34, 60, 80, 0.2);
    font-size: 13px;
}

.container-photo img {
    height: 250px;
    width: 400px;
    border-radius: 5%;
}

.container-p {
    padding: 6% 0;
    font-size: 19px;
}

.container-footer {
    border-top: 1px solid #677489;
    display: flex;
    margin-top: 3%;
    padding: 4% 0;
}

.container-footer-logo img {
    border-radius: 50%;
    width: 50px;
    margin-left: 50%;
    margin-top: 10%;
}

.container-footer-text {
    margin-left: 10%;
    margin-top: 2%;
}